.tempered {
    color: #32FF9C;
    border-color: #32FF9C;
}
.runed {
    color: #FFE032;
    border-color: #FFE032;
}
.exalted {
    color: #FF3232;
    border-color: #FF3232;
}
.ascendant {
    color: #F132FF;
    border-color: #F132FF;
}
.mythic {
    color: #32FFFF;
    border-color: #32FFFF;
}
.relic {
    color: #FF4E32;
    border-color: #662414;
}

.storageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    visibility: hidden;
}
.storageWrapper.open {
    visibility: visible;
}
.storageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: 0.2s;
    background: #080808;
    padding: 30px;
}
.storageInner {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.storageContainer.open {
    transform: translateY(0);
}
.storage {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    position: relative
}
.inventory {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 30%;
    height: 100%;
    position: relative;
}
.inventory h3,
.storage h3 {
    font-size: 16px;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 2px 2px #000;
    font-weight: 300;
    align-self: start;
    margin-bottom: 20px;
}
.itemFilterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.filterBtn {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: transparent;
    border: none;
    border-radius: 0;
    height: 60px;
    padding-bottom: 15px;
    position: relative;
    color: transparent;
    gap: 8px;
    font-size: 8px;
}
.filterBtn img {
    width: 20px;
}
.filterBtn:hover img {
    color: #fff;
}
.filterBtn.filterSelected {
    color: #fff;
}
.filterBtn.filterSelected::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
}
.bottomShadowContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background: linear-gradient(to top, #080808, transparent);
    z-index: 5;
}
.inventoryInner {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.inventoryInner::-webkit-scrollbar {
    width: 12px;
}

.inventoryInner::-webkit-scrollbar-track {
    background: transparent;
}

.inventoryInner::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to bottom,
        #3a3a3a,
        #1f1f1f
    );
}

.inventoryInner::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
        to bottom,
        #4a4a4a,
        #2a2a2a
    );
}
.miscGrid {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(var(--min-slot-size), 1fr)
    );
    gap: 16px;
    width: 100%;
    padding: 30px 30px 30px 3px;
}
.slot {
    aspect-ratio: 1 / 1;
    border: 3px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    position: relative;
    background: #0A0A0A;
}
.weaponLevel {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}
.selectedWeaponLevel {
    font-size: 12px;
}
.slot.tempered,
.weaponSlot.tempered {
    border-color: #32FF9C;
    background: #13633C;
}
.slot.runed,
.weaponSlot.runed {
    border-color: #FFE032;
    background: #665814;
}
.slot.exalted,
.weaponSlot.exalted {
    border-color: #FF3232;
    background: #661414;
}
.slot.ascendant,
.weaponSlot.ascendant {
    border-color: #F132FF;
    background: #5D1466;
}
.slot.mythic,
.weaponSlot.mythic {
    border-color: #32FFFF;
    background: #146666;
}
.slot.relic,
.weaponSlot.relic {
    border-color: #FF4E32;
    background: #662414;
}
.slot:hover {
    outline: 3px solid #fff;
}
.slot .slotImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
    filter: drop-shadow(0px 4px 8px rgba(0,0,0,1));
}
/* ------------------------------- ITEM PANEL ---------------------------------- */
.itemInfoPanel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: calc(75% / 2);
    padding: 0;
    color: white;
    padding-top: 80px;
    overflow: visible;
}
.itemInfoPanel.open {
    display: flex;
}
.itemIconContainer {
    position: absolute;
    top: 60px;
    right: 150px;
    width: 180px;
    height: 400px;
    min-width: 100px;
    min-height: 100px;
    transform: rotate(30deg);
    border: 5px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bgLight {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: blur(100px);
    background: #000;
    z-index: 1;
}
.bgLight.tempered {
    background: #fff;
}
.bgLight.runed {
    background: #0094FF;
}
.bgLight.epic {
    background: #B200FF;
}
.bgLight.legendary {
    background: #FFAA00;
}
.bgLight.artifact {
    background: #00FFF6;
}
.itemIconContainer .selectedOtherImg {
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
    z-index: 2;
    filter: drop-shadow(50px 50px rgba(0, 0, 0, 0.3));
}
.itemInfoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background: transparent;
    z-index: 2;
}
.nameContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 16px;
    font-size: 12px;
}
.nameContainer .header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}
.nameContainer .header p:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-left: 2px;
    color: #FFE500;
}
.itemName {
    font-size: 20px;
    font-weight: 300;
    text-shadow: 5px 5px #000;
    max-width: 400px;
}
.weaponTypeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.weaponTypeName {
    font-size: 10px;
    color: #fff;
    padding: 5px;
    background: #282828;
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.attackStyleName {
    font-size: 10px;
    color: #fff;
    padding: 5px;
    background: #282828;
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.nameContainer .header img {
    width: 8px;
    transform: rotate(45deg);
}
.itemStatsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.statContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    gap: 15px;
    color: #fff;
    margin-top: 20px;
}
.statIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background: #141414;
    transform: rotate(-45deg);
}
.damageIcon {
    width: 16px;
}
.hpIcon {
    width: 16px;
    transform: rotate(45deg);
}
.itemDescContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}
#item-info-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#item-info-stats p {
    font-size: 12px;
}
.selected {
    outline: 3px solid #fff;
}
.equipBtnContainer {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.equipBtn {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 30px;
    height: 45px;
    border: 3px solid #70ff8d;
    background: #3b8249;
    color: white;
    font-size: 12px;
    box-shadow: 0 5px 0 #1d4024;
    font-size: 10px;
    letter-spacing: 2;
}
.equipBtn:hover {
    transform: translateY(4px);
    box-shadow: 0 1px 0 #1d4024;
}
.unequipBtn {
    width: 100%;
    max-width: 300px;
    height: 45px;
    border: 3px solid #ff5e5e;
    background: #913434;
    color: white;
    font-size: 12px;
    box-shadow: 0 5px 0 #4f1c1c;
    font-size: 10px;
    letter-spacing: 2;
}
.unequipBtn:hover {
    transform: translateY(4px);
    box-shadow: 0 1px 0 #4f1c1c;
}
.closeBtn {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #141414;
    color: white;
    width: 36px;
    height: 36px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    z-index: 2;
    box-shadow: 0 5px 0 #080808;
}
.closeIcon {
    color: #fff;
    width: 22px;
    height: 22px;
}
.closeBtn:hover {
    transform: translateY(4px);
    box-shadow: 0 1px 0 #080808;
}

@media (max-width: 1600px) {
    .nameContainer h3 {
        max-width: 250px;
    }
}
@media (max-width: 1400px) {
    .itemIconContainer {
        right: 30px;
    }
}
@media (max-width: 1300px) {
    .nameContainer h3 {
        max-width: 150px;
    }
}
@media (max-width: 1140px) {
    .equippedWeaponInfoContainer h3 {
        font-weight: 300;
        font-size: 14px;
    }
    .equippedWeaponInfoContainer p {
        font-size: 10px;
    }
    .weaponSlot {
        height: 100px;
    }
}