.dungeonMenuWrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: 0.2s;
}
.dungeonMenuWrapper.open {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.dungeonHeader {
    height: 70px;
    width: 100%;
    background: #080808;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: #fff;
    position: relative;
}
.headerRight {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.headerRight button {
    height: 100%;
    width: 200px;
    border: none;
    border-bottom: 3px solid transparent;
    background: transparent;
    color: #fff;
}
.headerRight button.tabSelected {
    border-color: #fff;
}
.dungeonHeader h3 {
    font-weight: 300;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 70px);
    background: #080808;
}
.dungeonMenuOuter {
    border: 3px solid #424242;
    background: #424242;
    box-shadow: 0 0 1000px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}