.dungeonMenuWrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5;
    padding: 20px;
}
.dungeonMenuWrapper.open {
    display: flex;
}
.dungeonSelector {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #141414;
}
.selectorBtn {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 250px;
    padding: 20px;
    gap: 14px;
    background: transparent;
    border: none;
    border-left: 3px solid transparent;
    font-size: 12px;
    letter-spacing: 2;
}
.selectorBtn:hover {
    background: rgba(255, 255, 255, 0.05);
}
.selectorBtn img {
    height: 50px;
    image-rendering: pixelated;
}
.selected {
    background: rgba(255, 255, 255, 0.05);
}
.dungeonMenuOuter {
    border: 3px solid #242424;
    background: #242424;
    box-shadow: 0 0 1000px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    height: 100%;
    max-height: 600px;
}
.dungeonContentContainer {
    height: 100%;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
}
.bgLight {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    z-index: 1;
    border-radius: 50%;
    filter: blur(150px);
}
.dungeonMenuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #101010;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.dungeonMenuContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 50px;
    background: transparent;
}
.dungeonIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 3px solid #F6362B;
    background: #141414;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.title img {
    width: 60px;
    image-rendering: pixelated;
}
.title h3 {
    color: #F6362B;
    letter-spacing: 3;
    font-size: 14px;
    line-height: 1;
    text-shadow: 3px 3px #000;
    font-weight: 300;
}
.dungeonMenuContainer p {
    color: #fff;
    font-size: 10px;
}
.dungeonMenuContent .buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.enterBtn {
    width: 300px;
    height: 45px;
    border: 3px solid #B1B1B1;
    background: #fff;
    color: #000;
    box-shadow: 0 5px 0 #424242;
    font-size: 8px;
    letter-spacing: 2;
}
.enterBtn:hover {
    transform: translateY(4px);
    box-shadow: 0 1px 0 #721714;
}
.cancelBtn:hover {
    transform: translateY(4px);
    box-shadow: 0 1px 0 #020202;
}
.cancelBtn {
    width: 300px;
    height: 45px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    background: #141414;
    color: #fff;
    box-shadow: 0 5px 0 #020202;
    font-size: 8px;
    letter-spacing: 2;
}
.dungeonMenuBackground {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    width: 800px;
    height: 500px;
    border-radius: 50%;
    filter: blur(100);
    z-index: -1;
}