.blacksmithWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    visibility: hidden;
}
.blacksmithWrapper.open {
    visibility: visible;
}
.blacksmithContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: 0.2s;
    background: #080808;
}
.blacksmithContainer.open {
    transform: translateY(0);
}
.blacksmithInner {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.evolvingContainer {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.selectedItemContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    color: #fff;
    position: relative;
}
.upgradingInfoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    gap: 30px;
    font-size: 24px;
    text-shadow: 0 5px #000;
}
.itemIconContainer {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.itemIconContainer img {
    height: 100%;
    image-rendering: pixelated;
    filter: drop-shadow(0 30px rgba(0, 0, 0, 0.3));
}
.nameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.nameContainer p:nth-child(2) {
    font-size: 16px;
}
.statsDisplayContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    gap: 100px;
}
.currentLevelContainer,
.nextLevelContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 40px;
}
.level {
    font-size: 18px;
}
.stats {
    font-size: 12px;
}
.damageIncreaseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}
.damageIncreaseContainer p:nth-child(2) {
    color: #05ff8f;
}
.bgLight {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: blur(100px);
    background: #000;
    z-index: -1;
}
.bgLight.tempered {
    background: #fff;
}
.bgLight.runed {
    background: #0094FF;
}
.bgLight.epic {
    background: #B200FF;
}
.bgLight.legendary {
    background: #FFAA00;
}
.bgLight.artifact {
    background: #00FFF6;
}
.inventory {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 30%;
    height: 100%;
    position: relative;
    padding: 30px;
}
.inventory h3,
.storage h3 {
    font-size: 16px;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 2px 2px #000;
    font-weight: 300;
    align-self: start;
    margin-bottom: 20px;
}
.itemFilterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.filterBtn {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: transparent;
    border: none;
    border-radius: 0;
    height: 60px;
    padding-bottom: 15px;
    position: relative;
    color: transparent;
    gap: 8px;
    font-size: 8px;
}
.filterBtn img {
    width: 20px;
}
.filterBtn:hover img {
    color: #fff;
}
.filterBtn.filterSelected {
    color: #fff;
}
.filterBtn.filterSelected::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
}
.bottomShadowContainer {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    height: 30px;
    background: linear-gradient(to top, #080808, transparent);
    z-index: 5;
}
.inventoryInner {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.inventoryInner::-webkit-scrollbar {
    width: 12px;
}

.inventoryInner::-webkit-scrollbar-track {
    background: transparent;
}

.inventoryInner::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to bottom,
        #3a3a3a,
        #1f1f1f
    );
}

.inventoryInner::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
        to bottom,
        #4a4a4a,
        #2a2a2a
    );
}
.miscGrid {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(var(--min-slot-size), 1fr)
    );
    gap: 16px;
    width: 100%;
    padding: 30px 30px 30px 3px;
}
.slot {
    aspect-ratio: 1 / 1;
    border: 3px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    position: relative;
    background: #0A0A0A;
}
.selected {
    outline: 3px solid #fff;
}
.weaponLevel {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}
.selectedWeaponLevel {
    font-size: 12px;
}
.slot.tempered,
.weaponSlot.tempered {
    border-color: #32FF9C;
    background: #13633C;
}
.slot.runed,
.weaponSlot.runed {
    border-color: #FFE032;
    background: #665814;
}
.slot.exalted,
.weaponSlot.exalted {
    border-color: #FF3232;
    background: #661414;
}
.slot.ascendant,
.weaponSlot.ascendant {
    border-color: #F132FF;
    background: #5D1466;
}
.slot.mythic,
.weaponSlot.mythic {
    border-color: #32FFFF;
    background: #146666;
}
.slot.relic,
.weaponSlot.relic {
    border-color: #FF4E32;
    background: #662414;
}
.slot:hover {
    outline: 3px solid #fff;
}
.slot .slotImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
    filter: drop-shadow(0px 4px 8px rgba(0,0,0,1));
}
.blacksmithFunctionContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 100%;
    background: #141414;
}
.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.buttonsContainer button {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    position: relative;
}
.buttonsContainer button:hover {
    background: rgba(255, 255, 255, 0.1);
}
.buttonsContainer button.selectedFilter::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #fff;
}