.blacksmithWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    visibility: hidden;
}
.blacksmithWrapper.open {
    visibility: visible;
}
.blacksmithContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: 0.2s;
    background: #080808;
}
.blacksmithContainer.open {
    transform: translateY(0);
}
.blacksmithInner {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.evolvingContainer {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.selectedItemContainer {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    color: #fff;
    position: relative;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.upgradingInfoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    gap: 30px;
    font-size: 24px;
}
.itemIconContainer {
    width: 204px;
    height: 204px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.itemIconContainer img {
    height: 100%;
    image-rendering: pixelated;
    filter: drop-shadow(0 25px rgba(0, 0, 0, 0.3));
}
.nameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.nameContainer h3 {
    font-size: 20px;
    font-weight: 300;
    text-shadow: 0 5px #000;
}
.nameContainer p:nth-child(2) {
    font-size: 12px;
}
.statsDisplayContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    gap: 100px;
}
.maxLevelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: #FFE500;
}
.maxLevelContainer h3 {
    font-weight: 300;
}
.currentLevelContainer,
.nextLevelContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 40px;
}
.level {
    font-size: 18px;
}
.stats {
    font-size: 12px;
}
.damageIncreaseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}
.damageIncreaseContainer p:nth-child(2) {
    color: #05ff8f;
}
.materialsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px
}
.material {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.materialIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
}
.materialIcon img {
    width: 60px;
    image-rendering: pixelated;
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 1));
}
.material p {
    font-size: 12px;
}
.materialBgLight {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    filter: blur(25px);
    background: #fff;
    z-index: -1;
}
.bgLight {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: blur(150px);
    background: #000;
    z-index: -1;
}
.bgLight.tempered {
    background: #fff;
}
.bgLight.runed {
    background: #0094FF;
}
.bgLight.epic {
    background: #B200FF;
}
.bgLight.legendary {
    background: #FFAA00;
}
.bgLight.artifact {
    background: #00FFF6;
}
.inventory {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 35%;
    height: 100%;
    position: relative;
    padding: 30px;
}
.inventory h3,
.storage h3 {
    font-size: 16px;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 2px 2px #000;
    font-weight: 300;
    align-self: start;
    margin-bottom: 20px;
}
.itemFilterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filterBtn {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: transparent;
    border: none;
    border-radius: 0;
    height: 60px;
    padding-bottom: 15px;
    position: relative;
    color: transparent;
    gap: 8px;
    font-size: 8px;
}
.filterBtn img {
    width: 24px;
    image-rendering: pixelated;
}
.filterBtn:hover img {
    color: #fff;
}
.filterBtn.filterSelected {
    color: #fff;
}
.filterBtn.filterSelected::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
}
.bottomShadowContainer {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    height: 30px;
    background: linear-gradient(to top, #080808, transparent);
    z-index: 5;
}
.inventoryInner {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.inventoryInner::-webkit-scrollbar {
    width: 12px;
}

.inventoryInner::-webkit-scrollbar-track {
    background: transparent;
}

.inventoryInner::-webkit-scrollbar-thumb {
    background: #3a3a3a;
}

.inventoryInner::-webkit-scrollbar-thumb:hover {
    background: #4a4a4a;
}
.miscGrid {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 30px 15px 30px 9px;
    gap: 16px;
}
.slot {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    gap: 10px;
    font-size: 14px;
    border: 3px solid transparent;
}
.slot p:nth-child(1) {
    font-size: 10px;
}
.selected {
    outline: 4px solid #fff;
    outline-offset: 3px;
    transition: 0.05s;
}
*.selected:hover .hoverContainer {
    display: none;
}
*.selected:hover {
    outline-offset: 5px;
}
.hoverContainer {
    position: absolute;
    inset: -13px; /* slightly larger than slot */
    pointer-events: none;
    transition: 0.1s;
    opacity: 0;
}
.slot:hover .hoverContainer,
.gearSlot:hover .hoverContainer {
    inset: -10px;
    opacity: 1;
}
.topRight,
.bottomLeft,
.topLeft,
.bottomRight {
    position: absolute;
    width: 40px;
    height: 40px;
}

.topRight {
    top: 0;
    right: 0;
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
}

.bottomLeft {
    bottom: 0;
    left: 0;
    border-bottom: 4px solid #fff;
    border-left: 4px solid #fff;
}
.topLeft {
    top: 0;
    left: 0;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
}
.bottomRight {
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
}
.weaponLevel {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    letter-spacing: 2px;
    background: rgba(0, 0, 0, 0.5);
    padding: 3px;
    font-weight: 0;
}
.gearSlot .weaponLevel,
 .gearSlot .powerLevel{
    font-size: 14px;
    gap: 5px;
}
.gearSlot .powerLevel img {
    width: 7px;
}
.powerLevel {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    letter-spacing: 2px;
    background: rgba(0, 0, 0, 0.5);
    padding: 3px 3px 3px 5px;
    font-weight: 0;
    color: #FFE500;
    gap: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.powerLevel img {
    width: 5px;
    transform: rotate(45deg);
}
.miscItemNameContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: #fff;
    gap: 5px;
    position: absolute;
    left: 120px;
}
.selectedWeaponLevel {
    font-size: 12px;
}
.slot.uncommon,
.weaponSlot.uncommon {
    border-color: #32FF9C;
    background: #13633C;
}
.slot.legendary,
.weaponSlot.legendary {
    border-color: #FFE032;
    background: #665814;
}
.slot.exalted,
.weaponSlot.exalted {
    border-color: #FF3232;
    background: #661414;
}
.slot.epic,
.weaponSlot.epic {
    border-color: #F132FF;
    background: #5D1466;
}
.slot.rare,
.weaponSlot.rare {
    border-color: #32FFFF;
    background: #146666;
}
.slot.relic,
.weaponSlot.relic {
    border-color: #FF4E32;
    background: #662414;
}
.miscSlotIconContainer {
    height: 100%;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.slotWeaponImg {
    position: absolute;
    left: -65px;
    bottom: -20px;
    width: 180%;
    height: 180%;
    object-fit: contain;
    image-rendering: pixelated;
    filter: drop-shadow(0px 4px 8px rgba(0,0,0,1));
    transform: rotate(30deg);
}
.slotArmorImg {
    position: absolute;
    left: -35px;
    bottom: 50%;
    transform: translateY(50%);
    width: 130%;
    height: 130%;
    object-fit: contain;
    image-rendering: pixelated;
    filter: drop-shadow(0px 4px 8px rgba(0,0,0,1));
}
.blacksmithFunctionContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 100%;
    background: #141414;
}
.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #080808;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.buttonsContainer button {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    position: relative;
}
.buttonsContainer button:hover {
    background: rgba(255, 255, 255, 0.1);
}
.buttonsContainer button.selectedFilter::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #fff;
}
.upgradeBtn {
    width: 100%;
    max-width: 500px;
    height: 45px;
    border: 3px solid #70ff8d;
    background: #3b8249;
    color: white;
    font-size: 12px;
    box-shadow: 0 5px 0 #1d4024;
    font-size: 10px;
    letter-spacing: 2;
}
.upgradeBtn:hover {
    transform: translateY(4px);
    box-shadow: 0 1px 0 #1d4024;
}